@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

.login_bucket{
    height: 94vh;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #29495e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #29495e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::placeholder{
    padding-left: 0px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.iconStyle{
    font-size:9px;
    margin-top:15px;
}

.input_field{
    padding-left: 20px;
    outline: none;
    background: transparent;
}

.textbox {
    min-width: 240px;
    max-width: 350px;
    min-height: 50px;
    border-radius: 30px;
    color: #888;
    margin-top: 40px;
    padding-left: 20px;
    background-color: #f9f9f9;
   
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.usersIcon {
    color: #4ca1af;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 7em;
}

.userIcon , .passIcon {
    color: rgb(145, 145, 145);
    text-shadow: 1px 1px 1px #ccc;   
    font-size: 20px;
}

.authCheck, .sendOtpButton{
    
    min-width: 150px;
    max-width: 150px;
    min-height: 50px;
    border-radius: 30px;
    color: #fff;
    margin-top: 40px;
    background-color: #4ca1af;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: grey;
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}